{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/new_front.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">

    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% block header %}
    {% render_partial 'home_module.views.site_header_component' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    {% render_partial 'home_module.views.site_footer_component' %}
    {% endblock %}

    {% block extra_js %}{% endblock %}
    {% include 'shared/footer_references.html' %}
</body>

</html>